<div class="container-all">
  <div class="container-descripcion">
    <button
      class="btn btn-agregar"
      data-toggle="modal"
      data-target="#myModalAgregar"
      *ngIf="isLogged"
    >
      agregar
    </button>
    <ul class="list">
      <div
        class="container-carrera"
        *ngFor="let item of miEducacion; let indice = index"
      >
        <li>
          <p>{{ item.duracion }}</p>
          <p>{{ item.establecimiento }}</p>
          <p class="career">{{ item.carrera }}</p>
          <p class="course">{{ item.curso }}</p>
        </li>
        <button
          class="btn btn-edit"
          data-toggle="modal"
          data-target="#myModalEditar"
          (click)="buscarEducacion(indice)"
          *ngIf="isLogged"
        >
          editar
        </button>
        <button
          class="btn btn-elim"
          data-toggle="modal"
          data-target="#myModalEliminar"
          (click)="buscarEducacion(indice)"
          *ngIf="isLogged"
        >
          eliminar
        </button>
      </div>
    </ul>
  </div>
</div>
<!-- Modal para agregar educacion-->
<div class="modal text-dark" id="myModalAgregar">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Agregar educacion</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formEducacion" (ngSubmit)="agregarEducacion()">
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Duracion:</label>
            <input
              type="text"
              class="form-control"
              formControlName="duracion"
              placeholder="Duracion"
              name="duracion"
              [ngModel]="duracion"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Establecimiento:</label>
            <input
              type="text"
              class="form-control"
              formControlName="establecimiento"
              placeholder="Establecimiento"
              name="establecimiento"
              [ngModel]="establecimiento"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Carrera:</label>
            <input
              type="text"
              class="form-control"
              formControlName="carrera"
              placeholder="Carrera"
              name="carrera"
              [ngModel]="carrera"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Curso:</label>
            <input
              type="text"
              class="form-control"
              formControlName="curso"
              placeholder="Curso"
              name="curso"
              [ngModel]="curso"
            />
          </div>
          <button type="submit" class="btn btn-ag-modal">Agregar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para edit expereincia -->
<div class="modal text-dark" id="myModalEditar">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Editar Educacion</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          [formGroup]="formEducacion"
          (ngSubmit)="editarEducacion(position)"
        >
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Duracion:</label>
            <input
              type="text"
              class="form-control"
              formControlName="duracion"
              placeholder="Duracion"
              name="duracion"
              [ngModel]="duracionSelect"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Establecimiento:</label>
            <input
              type="text"
              class="form-control"
              formControlName="establecimiento"
              placeholder="establecimiento"
              name="establecimiento"
              [ngModel]="establecimientoSelect"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Carrera:</label>
            <input
              type="text"
              class="form-control"
              formControlName="carrera"
              placeholder="Carrera"
              name="carrera"
              [ngModel]="carreraSelect"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Curso:</label>
            <input
              type="text"
              class="form-control"
              formControlName="curso"
              placeholder="Curso"
              name="curso"
              [ngModel]="cursoSelect"
            />
          </div>
          <button type="submit" class="btn btn-edit-modal">editar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para eliminar expereincia -->
<div class="modal text-dark" id="myModalEliminar">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Educacion?</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          [formGroup]="formEducacion"
          (ngSubmit)="eliminarEducacion(position)"
        >
          <button type="submit" class="btn btn-edit-modal">eliminar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
