<div class="container">
  <div class="educacion">
    <h3>Educacion</h3>
  </div>
  <div class="container-descripcion">
    <ul class="list">
      <li>
        <ul>
          <label for="">Programas</label>
          <li>
            <p>08/2022 - actualidad</p>
            <p>Programa Codo a codo - Inicial/Fundamentos de la programacion</p>
          </li>
          <li>
            <p>10/2021 - 08/2022</p>
            <p>Argentina Programa - Desarrollo web FullStack</p>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <label for="">Cursos</label>
          <li>
            <p>08/2022</p>
            <p>CourseIt - Node</p>
          </li>
          <li>
            <p>08/2022</p>
            <p>CourseIt - Javascript</p>
          </li>
          <li>
            <p>07/2022</p>
            <p>CourseIt - HTML y CSS</p>
          </li>
          <li>
            <p>07/2022</p>
            <p>CourseIt - Git y Github</p>
          </li>
          <li>
            <p>07/2022</p>
            <p>CourseIt - Introducción al desarrollo web</p>
          </li>
          <li>
            <p>06/2022</p>
            <p>
              TodoCode Academy - Introducción a las Bases de Datos Relacionales
              (con MySQL)
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
