<div class="contenedor">
  <div class="card">
    <div class="card-header">
      <div class="educacion">
        <h3>Hard Skills & Soft Skills</h3>
      </div>
    </div>
    <div class="card-body">
      <div class="descripcion">
        <h4>Hard Skills</h4>
        <p>HTML5</p>
        <p>CSS3</p>
        <p>JavaScript</p>
        <p>Bootstrap</p>
        <p>NodeJS</p>
        <p>Angular</p>
        <p>Java</p>

        <h4>Soft Skills</h4>
        <p>Trabajo en equipo</p>
        <p>Responsabilidad individual</p>
        <p>Empatía</p>
        <p>Resolución de problemas</p>
        <p>Compromiso</p>
        <p>Motivación</p>
      </div>
    </div>
  </div>
</div>
