<div class="container">
  <div class="skills">
    <h3>Hard Skills & Soft Skills</h3>
  </div>
</div>
<div class="container-descripcion">
  <ul class="list">
    <li>
      <ul>
        <label for="">Hard Skills</label>
        <li>
          <p>HTML5</p>
        </li>
        <li>
          <p>CSS3</p>
        </li>
        <li>
          <p>JavaScript</p>
        </li>
        <li>
          <p>Bootstrap</p>
        </li>
        <li>
          <p>NodeJS</p>
        </li>
        <li>
          <p>Express</p>
        </li>
        <li>
          <p>Postman</p>
        </li>
        <li>
          <p>Angular</p>
        </li>
        <li>
          <p>Java</p>
        </li>
        <li>
          <p>MySQL</p>
        </li>
        <li>
          <p>Spring Boot</p>
        </li>
      </ul>
    </li>
    <li>
      <ul>
        <label for="">Soft Skills<</label>
        <li>
          <p>Trabajo en equipo</p>
        </li>
        <li>
          <p>Responsabilidad individual</p>
        </li>
        <li>
          <p>Empatía</p>
        </li>
        <li>
          <p>Resolución de problemas</p>
        </li>
        <li>
          <p>Compromiso</p>
        </li>
        <li>
          <p>Motivación</p>
        </li>
        <li>
          <p>Perseverancia</p>
        </li>
      </ul>
    </li>
  </ul>
</div>
