<div class="container-all">
  <div class="container-tecnologias">
    <div>
      <h3 class="titulo" for="">Hard Skills</h3>
      <ul class="list">
        <li
          class="contenido"
          *ngFor="let item of misTecnologias; let indice = index"
        >
          <img class="iconos" src="{{ item.tecnologia }}" alt="" />
          <p>{{ item.nivelExperiencia }}</p>
          <div class="contenedor-botones">
            <button
              class="btn btn-edit"
              data-toggle="modal"
              data-target="#myModalEditarTecnologias"
              (click)="buscarTecnologias(indice)"
              *ngIf="isLogged"
            >
              editar
            </button>
            <button
              class="btn btn-elim"
              data-toggle="modal"
              data-target="#myModalEliminarTecnologias"
              (click)="buscarTecnologias(indice)"
              *ngIf="isLogged"
            >
              eliminar
            </button>
          </div>
        </li>
      </ul>
    </div>

    <button
      class="btn btn-agregar"
      data-toggle="modal"
      data-target="#myModalAgregarTecnologias"
      *ngIf="isLogged"
    >
      agregar
    </button>
  </div>

  <div class="container-habilidades">
    <h3 class="titulo" for="">Soft Skills</h3>
    <div>
      <ul class="list">
        <li
          class="contenido"
          *ngFor="let habilidad of misHabilidades; let ubicacion = index"
        >
          <p>{{ habilidad.habilidad }}</p>
          <div class="contenedor-botones">
            <button
              class="btn btn-edit"
              data-toggle="modal"
              data-target="#myModalEditarHabilidades"
              (click)="buscarHabilidades(ubicacion)"
              *ngIf="isLogged"
            >
              editar
            </button>
            <button
              class="btn btn-elim"
              data-toggle="modal"
              data-target="#myModalEliminarHabilidades"
              (click)="buscarHabilidades(ubicacion)"
              *ngIf="isLogged"
            >
              eliminar
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <button
    class="btn btn-agregar"
    data-toggle="modal"
    data-target="#myModalAgregarHabilidades"
    *ngIf="isLogged"
  >
    agregar
  </button>
</div>

<!-- Modal para agregar Tecnologias-->
<div class="modal text-dark" id="myModalAgregarTecnologias">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Agregar nueva tecnologia:</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formTecnologias" (ngSubmit)="agregarTecnologias()">
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Logo tecnologia:</label>
            <input
              type="text"
              class="form-control"
              formControlName="tecnologia"
              placeholder="Tecnologia"
              name="tecnologia"
              [ngModel]="tecnologia"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Nivel de experiencia:</label>
            <input
              type="text"
              class="form-control"
              formControlName="nivelExperiencia"
              placeholder="Nivel de experiencia"
              name="nivelExperiencia"
              [ngModel]="nivelExperiencia"
            />
          </div>
          <button type="submit" class="btn btn-ag-modal">Agregar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar tecnologias -->
<div class="modal text-dark" id="myModalEditarTecnologias">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Editar tecnologia</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          [formGroup]="formTecnologias"
          (ngSubmit)="editarTecnologias(position)"
        >
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Logo tecnologia:</label>
            <input
              type="text"
              class="form-control"
              formControlName="tecnologia"
              placeholder="Tecnologia"
              name="tecnologia"
              [ngModel]="tecnologiaSelect"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label"
              >Nuevo nivel de experiencia:</label
            >
            <input
              type="text"
              class="form-control"
              formControlName="nivelExperiencia"
              placeholder="Nivel de experiencia"
              name="nivelExperiencia"
              [ngModel]="nivelExperienciaSelect"
            />
          </div>

          <button type="submit" class="btn btn-edit-modal">editar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para eliminar tecnologia -->
<div class="modal text-dark" id="myModalEliminarTecnologias">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Eliminar habilidad?</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          [formGroup]="formTecnologias"
          (ngSubmit)="eliminarTecnologias(position)"
        >
          <button type="submit" class="btn btn-elim-modal">eliminar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para agregar Habilidades-->
<div class="modal text-dark" id="myModalAgregarHabilidades">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Agregar nueva habilidad</h4>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formHabilidades" (ngSubmit)="agregarHabilidades()">
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Habilidad</label>
            <input
              type="text"
              class="form-control"
              formControlName="habilidad"
              placeholder="habilidad"
              name="habilidad"
              [ngModel]="habilidad"
            />
          </div>
          <button type="submit" class="btn btn-ag-modal">Agregar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar habilidades -->
<div class="modal text-dark" id="myModalEditarHabilidades">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Editar habilidad</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          [formGroup]="formHabilidades"
          (ngSubmit)="editarHabilidades(position)"
        >
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Habilidad:</label>
            <input
              type="text"
              class="form-control"
              formControlName="habilidad"
              placeholder="habilidad"
              name="habilidad"
              [ngModel]="habilidadSelect"
            />
          </div>

          <button type="submit" class="btn btn-edit-modal">editar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para eliminar tecnologia -->
<div class="modal text-dark" id="myModalEliminarHabilidades">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Eliminar habilidad?</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          [formGroup]="formHabilidades"
          (ngSubmit)="eliminarHabilidades(position)"
        >
          <button type="submit" class="btn btn-elim-modal">eliminar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
