.container-all {
  width: 100%;
  display: flexbox;
  justify-content: center;
  font-family: sans-serif;
  padding: 30px;
}

.list {
  display: block;
}

.contenido {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.titulo {
  color: rgb(61, 193, 245);
  font-size: 40px;
  grid-column: span 4;
  padding: 24px 0;
  text-align: center;
}

.fab {
  color: rgb(214, 214, 214);
  font-size: 40px;
  padding: 5px;
}

.iconos {
  height: 50px;
}

p {
  font-size: 22px;
}

ul {
  list-style: none;
}

.btn {
  height: 40px;
}
