.container-all {
  width: 100%;
  font-family: "Kalam";
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
}

.titulo {
  color: rgb(61, 193, 245);
  font-size: 35px;
  grid-column: span 4;
  padding: 5px 0;
  text-align: center;
}

li {
  padding: 10px;
  background: rgba(255, 255, 255, 0.096);
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
}

.fab {
  color: rgb(237, 233, 233);
  font-size: 30px;
  padding: 5px;
}

.iconos {
  height: 45px;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
}

.btn {
  height: 40px;
  color: white;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.623);
  margin-left: 5px;
  margin-right: 5px;
}

.btn-edit:hover {
  background-color: rgb(32, 181, 240);
}

.btn-elim:hover {
  background-color: rgb(199, 29, 29);
}

.btn-agregar:hover {
  background-color: darkcyan;
}

.btn-edit:active {
  background-color: rgb(115, 203, 238);
}

.btn-elim:active {
  background-color: rgb(219, 97, 97);
}

.btn-agregar:active {
  background-color: rgb(26, 177, 177);
}

.btn-close {
  color: gray;
}

.btn-ag-modal {
  background-color: darkcyan;
}

.btn-edit-modal {
  background-color: rgb(69, 189, 236);
}

.btn-elim-modal {
  background-color: rgb(199, 29, 29);
}

.btn-close-modal {
  background-color: rgb(62, 62, 160);
}

.btn-ag-modal:hover {
  background-color: rgb(29, 165, 165);
}

.btn-edit-modal:hover {
  background-color: rgb(114, 193, 224);
}

.btn-elim-modal:hover {
  background-color: rgb(209, 70, 70);
}

.btn-close-modal:hover {
  background-color: rgb(109, 109, 192);
}

p {
  font-size: 22px;
  margin-top: 5px;
  color: rgba(239, 232, 232, 0.943);
}

ul {
  text-align: center;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px 10px;
  }
}

@media screen and (max-width: 450px) {
  .list {
    grid-template-columns: 1fr;
    grid-row: 15px;
  }
}
