<div class="container-carousel">
  <div
    id="myCarousel"
    class="carousel slide"
    data-ride="carousel"
    data-interval="false"
  >
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1>Acerca de mi</h1>
        <app-acerca-de></app-acerca-de>
      </div>
      <div class="carousel-item">
        <h1>Educación</h1>
        <app-educacion></app-educacion>
      </div>
      <div class="carousel-item">
        <h1>Experiencias</h1>
        <app-experiencia></app-experiencia>
      </div>
      <div class="carousel-item">
        <h1>Hard & Soft Skills</h1>
        <app-skills></app-skills>
      </div>
      <div class="carousel-item">
        <h1>Proyectos</h1>
        <app-proyectos></app-proyectos>
      </div>
    </div>
  </div>
</div>
