<div class="container-carousel">
  <div
    id="myCarousel"
    class="carousel slide"
    data-ride="carousel"
    data-interval="false"
  >
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1>Bienvenidos</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
          distinctio officiis ipsa error nostrum porro ipsam? Quisquam
          doloremque magni fuga possimus repellendus ipsam accusamus impedit
          cumque. Assumenda commodi explicabo quaerat.
        </p>
      </div>
      <div class="carousel-item">
        <h1>Acerca de</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
          distinctio officiis ipsa error nostrum porro ipsam? Quisquam
          doloremque magni fuga possimus repellendus ipsam accusamus impedit
          cumque. Assumenda commodi explicabo quaerat.
        </p>
      </div>
      <div class="carousel-item">
        <h1>Educacion</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
          distinctio officiis ipsa error nostrum porro ipsam? Quisquam
          doloremque magni fuga possimus repellendus ipsam accusamus impedit
          cumque. Assumenda commodi explicabo quaerat.
        </p>
      </div>
      <div class="carousel-item">
        <h1>Experiencia</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
          distinctio officiis ipsa error nostrum porro ipsam? Quisquam
          doloremque magni fuga possimus repellendus ipsam accusamus impedit
          cumque. Assumenda commodi explicabo quaerat.
        </p>
      </div>
      <div class="carousel-item">
        <h1>Skills</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
          distinctio officiis ipsa error nostrum porro ipsam? Quisquam
          doloremque magni fuga possimus repellendus ipsam accusamus impedit
          cumque. Assumenda commodi explicabo quaerat.
        </p>
      </div>
      <div class="carousel-item">
        <h1>Proyectos</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
          distinctio officiis ipsa error nostrum porro ipsam? Quisquam
          doloremque magni fuga possimus repellendus ipsam accusamus impedit
          cumque. Assumenda commodi explicabo quaerat.
        </p>
      </div>
    </div>
  </div>
</div>
