.container-carousel {
  width: 100%;
  border: none;
  padding: 0 30px;
  margin: 0 auto;
  color: #fff;
  flex-grow: 1;
}

h1 {
  color: rgb(67, 196, 247);
}

@media screen and (max-width: 768px) {
  .container-carousel {
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .container-carousel {
    padding: 0 10px;
  }
}
