.login {
  width: auto;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid rgb(63, 188, 238);
  border-radius: 20px 20px;
  padding: 8px;
  letter-spacing: 2px;
}

.login:hover {
  color: rgb(63, 188, 238);
  text-decoration: none;
}

.login:active {
  color: aqua;
}
