.login {
  width: auto;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.login:hover {
  color: rgb(32, 181, 240);
  text-decoration: none;
}

.login:active {
  color: aqua;
}
