* {
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 100px;
  font-family: sans-serif;
}
