<div class="container-all">
  <div class="container-descripcion">
    <ul class="list">
      <div
        class="container-experiencia"
        *ngFor="let item of misExperiencias; let indice = index"
      >
        <li>
          <p>{{ item.duracion }}</p>
          <p>{{ item.puesto }}</p>
          <p>{{ item.empresa }}</p>
          <p>{{ item.ubicacion }}</p>
          <p>{{ item.descripcion }}</p>
        </li>
        <button
          class="btn btn-edit"
          data-toggle="modal"
          data-target="#myModalEditarExperiencia"
          (click)="buscarExperienciaLaboral(indice)"
          *ngIf="isLogged"
        >
          editar
        </button>
        <button
          class="btn btn-elim"
          data-toggle="modal"
          data-target="#myModalEliminarExperiencia"
          (click)="buscarExperienciaLaboral(indice)"
          *ngIf="isLogged"
        >
          eliminar
        </button>
      </div>
    </ul>
    <button
      class="btn btn-agregar"
      data-toggle="modal"
      data-target="#myModalAgregarExperiencia"
      *ngIf="isLogged"
    >
      agregar
    </button>
  </div>
</div>
<!-- Modal para agregar experiencia-->
<div class="modal text-dark" id="myModalAgregarExperiencia">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Agregar experiencia laboral</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          [formGroup]="formExperiencias"
          (ngSubmit)="agregarExperienciaLaboral()"
        >
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Duracion:</label>
            <input
              type="text"
              class="form-control"
              formControlName="duracion"
              placeholder="Duracion"
              name="duracion"
              [ngModel]="duracion"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Puesto:</label>
            <input
              type="text"
              class="form-control"
              formControlName="puesto"
              placeholder="Puesto"
              name="puesto"
              [ngModel]="puesto"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Empresa:</label>
            <input
              type="text"
              class="form-control"
              formControlName="empresa"
              placeholder="Empresa"
              name="empresa"
              [ngModel]="empresa"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Ubicacion:</label>
            <input
              type="text"
              class="form-control"
              formControlName="ubicacion"
              placeholder="Ubicacion"
              name="ubicacion"
              [ngModel]="ubicacion"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Descripcion:</label>
            <input
              type="text"
              class="form-control"
              formControlName="descripcion"
              placeholder="Descripcion"
              name="descripcion"
              [ngModel]="descripcion"
            />
          </div>
          <button type="submit" class="btn btn-ag-modal">Agregar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para edit experiencia -->
<div class="modal text-dark" id="myModalEditarExperiencia">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Editar Educacion</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          [formGroup]="formExperiencias"
          (ngSubmit)="editarExperienciaLaboral(position)"
        >
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Duracion:</label>
            <input
              type="text"
              class="form-control"
              formControlName="duracion"
              placeholder="Duracion"
              name="duracion"
              [ngModel]="duracionSelect"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Puesto:</label>
            <input
              type="text"
              class="form-control"
              formControlName="puesto"
              placeholder="Puesto"
              name="puesto"
              [ngModel]="puestoSelect"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Empresa:</label>
            <input
              type="text"
              class="form-control"
              formControlName="empresa"
              placeholder="Empresa"
              name="empresa"
              [ngModel]="empresaSelect"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Ubicacion:</label>
            <input
              type="text"
              class="form-control"
              formControlName="ubicacion"
              placeholder="Ubicacion"
              name="ubicacion"
              [ngModel]="ubicacionSelect"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="text" class="form-label">Descripcion:</label>
            <input
              type="text"
              class="form-control"
              formControlName="descripcion"
              placeholder="Descripcion"
              name="descripcion"
              [ngModel]="descripcionSelect"
            />
          </div>
          <button type="submit" class="btn btn-edit-modal">editar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para eliminar expereincia -->
<div class="modal text-dark" id="myModalEliminarExperiencia">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Experiencia laboral?</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          [formGroup]="formExperiencias"
          (ngSubmit)="eliminarExperienciaLaboral(position)"
        >
          <button type="submit" class="btn btn-elim-modal">eliminar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
