.container-all {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Kalam";
  padding: 30px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-content: center;
}

.container-proyecto {
  color: rgba(255, 255, 255, 0.904);
  font-size: 28px;
  grid-column: span 2;
  padding: 20px 0;
}

li {
  color: rgb(214, 214, 214);
  padding: 10px;
  font-weight: 300;
  font-size: 20px;
}

.btn {
  height: 40px;
  color: white;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.623);
  margin-left: 5px;
  margin-right: 5px;
}

.btn-edit:hover {
  background-color: rgb(32, 181, 240);
}

.btn-elim:hover {
  background-color: rgb(199, 29, 29);
}

.btn-agregar:hover {
  background-color: darkcyan;
}

.btn-edit:active {
  background-color: rgb(115, 203, 238);
}

.btn-elim:active {
  background-color: rgb(219, 97, 97);
}

.btn-agregar:active {
  background-color: rgb(26, 177, 177);
}

.btn-close {
  color: gray;
}

.btn-ag-modal {
  background-color: darkcyan;
}

.btn-edit-modal {
  background-color: rgb(69, 189, 236);
}

.btn-elim-modal {
  background-color: rgb(199, 29, 29);
}

.btn-close-modal {
  background-color: rgb(62, 62, 160);
}

.btn-ag-modal:hover {
  background-color: rgb(29, 165, 165);
}

.btn-edit-modal:hover {
  background-color: rgb(114, 193, 224);
}

.btn-elim-modal:hover {
  background-color: rgb(209, 70, 70);
}

.btn-close-modal:hover {
  background-color: rgb(109, 109, 192);
}

@media screen and (max-width: 1024px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px 10px;
  }
}

@media screen and (max-width: 500px) {
  .list {
    grid-template-columns: 1fr;
    grid-gap: 0px 10px;
  }
}
