.container-all {
  display: block;
  justify-content: center;
  font-family: sans-serif;
}

.container-foto {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.foto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: -10px -10px;
  background-color: #8b877c;
  border: 5px solid rgb(158, 154, 154);
}

.container-description {
  display: block;
  padding: 30px;
  text-align: center;
}

.container-titulo {
  color: rgb(255, 255, 255);
  font-size: 22px;
}

.container-subtitulo {
  color: rgba(255, 255, 255, 0.733);
  font-size: 20px;
}
