<div class="container-all">
  <div class="container-general">
    <div *ngFor="let item of miPersona; let indice = index">
      <div class="container-foto">
        <img class="foto" src="{{ item.imagen }}" alt="" />
      </div>
      <div class="contenido">
        <div>
          <h2 class="nombre-apellido">
            {{ "Hola! Soy " + item.nombre + " " + item.apellido }}
          </h2>
        </div>
        <div>
          <h3 class="pais-provincia">
            {{ "Soy de " + item.provincia + ", " + item.pais }}
          </h3>
        </div>
        <div
          class="container-description"
          *ngFor="let item of miPersona; let indice = index"
        >
          <p>
            {{ item.acercaDe }}
          </p>
        </div>
      </div>
      <div class="button-edit">
        <button
          type="button"
          class="btn btn-edit-modal"
          data-toggle="modal"
          data-target="#myModal"
          (click)="buscarPersona(indice)"
          *ngIf="isLogged"
        >
          Editar
        </button>
      </div>
    </div>
  </div>
  <div class="modal text-dark" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Editar información</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="formPersona" (ngSubmit)="editarPersona(position)">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input
                formControlName="nombre"
                type="text"
                class="form-control"
                id="nombre"
                [ngModel]="nombreSelect"
              />
            </div>
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input
                formControlName="apellido"
                type="text"
                class="form-control"
                id="apellido"
                [ngModel]="apellidoSelect"
              />
            </div>
            <div class="form-group">
              <label for="pais">País</label>
              <input
                formControlName="pais"
                type="text"
                class="form-control"
                id="pais"
                [ngModel]="paisSelect"
              />
            </div>
            <div class="form-group">
              <label for="provincia">Provincia</label>
              <input
                formControlName="provincia"
                type="text"
                class="form-control"
                id="provincia"
                [ngModel]="provinciaSelect"
              />
            </div>
            <div class="form-group">
              <label for="descripcion">Descripcion</label>
              <input
                formControlName="acercaDe"
                type="text"
                class="form-control"
                id="descripcion"
                [ngModel]="acercaDeSelect"
              />
            </div>
            <div class="form-group">
              <label for="imagen">URL de foto de perfil</label>
              <input
                formControlName="imagen"
                type="text"
                class="form-control"
                id="imagen"
                [ngModel]="imagenSelect"
              />
            </div>
            <button type="submit" class="boton-editar btn">Editar</button>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="boton-close btn" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
