<nav class="nav">
  <app-logo-ap></app-logo-ap>
  <div class="contenedor-navegacion">
    <div data-target="#myCarousel" data-slide-to="1" class="navegacion">
      Acerca de
    </div>
    <div data-target="#myCarousel" data-slide-to="2" class="navegacion">
      Education
    </div>
    <div data-target="#myCarousel" data-slide-to="3" class="navegacion">
      Experience
    </div>
    <div data-target="#myCarousel" data-slide-to="4" class="navegacion">
      Proyects
    </div>
    <div data-target="#myCarousel" data-slide-to="5" class="navegacion">
      Skills
    </div>
  </div>
  <app-button-login></app-button-login>
</nav>
