<nav class="nav">
  <app-logo-ap></app-logo-ap>
  <div class="contenedor-navegacion">
    <div data-target="#myCarousel" data-slide-to="0" class="navegacion">
      Acerca de mi
    </div>
    <div data-target="#myCarousel" data-slide-to="1" class="navegacion">
      Educación
    </div>
    <div data-target="#myCarousel" data-slide-to="2" class="navegacion">
      Experiencias
    </div>
    <div data-target="#myCarousel" data-slide-to="3" class="navegacion">
      Skills
    </div>
    <div data-target="#myCarousel" data-slide-to="4" class="navegacion">
      Proyectos
    </div>
  </div>
  <app-button-login></app-button-login>
</nav>
