* {
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
}

.nav {
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  flex-grow: 0;
  flex-shrink: 0;
}

.contenedor-navegacion {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navegacion {
  cursor: pointer;
  padding: 10px;
}

.navegacion:hover {
  color: rgb(112, 206, 243);
}

.navegacion:active {
  color: aqua;
}
