button {
  height: 40px;
  margin-top: -20px;
  margin-left: -15px;
}

form .btn {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-left: auto;
  background-color: rgb(76, 125, 231);
  color: white;
}

.modal-footer .btn {
  float: right;
  margin-top: 10px;
  background-color: rgb(226, 31, 31);
  color: white;
}
