<div class="container-all">
  <app-barra-navegacion></app-barra-navegacion>
  <div class="background">
    <div class="container">
      <div class="container-form">
        <div class="content">
          <form action="#">
            <p>INGRESAR</p>
            <div>
              <label for="usuario">Email</label>
              <input
                type="text"
                name="usuario"
                id="usuario"
                placeholder="ingresa tu email..."
              />
            </div>
            <div>
              <label for="password">Contraseña</label><br />
              <input
                type="password"
                name="password"
                id="password"
                placeholder="ingresa tu contraseña..."
              />
            </div>
            <button><b>Iniciar Sesión</b></button>
          </form>
          <div class="redesSociales">
            <img src="../../../assets/facebook.png" alt="" />
            <img src="../../../assets/linkedin.png" alt="" />
            <img src="../../../assets/github.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
