div {
  width: 100%;
  background: linear-gradient(to left, #b60f46, #b392a9);
}

app-redes-sociales {
  float: right;
  margin-top: 15px;
}

app-login {
  float: right;
  margin-top: 18px;
  margin-right: 5px;
  margin-left: 10px;
}
