.container-all {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Kalam";
  padding: 30px;
}

.list {
  display: block;
}

.container-proyecto {
  color: rgba(255, 255, 255, 0.904);
  font-size: 22px;
  grid-column: span 2;
  padding: 20px 0;
}

li {
  color: #fff;
  padding: 10px;
  font-weight: 300;
  font-size: 20px;
}

img {
  width: 200px;
  height: 100px;
  border: 1px solid white;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(53, 195, 223);
}

a:active {
  color: aqua;
}

.btn {
  height: 40px;
  color: white;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.623);
  margin-left: 5px;
  margin-right: 5px;
}

.btn-edit:hover {
  background-color: rgb(32, 181, 240);
}

.btn-elim:hover {
  background-color: rgb(199, 29, 29);
}

.btn-agregar:hover {
  background-color: darkcyan;
}

.btn-edit:active {
  background-color: rgb(115, 203, 238);
}

.btn-elim:active {
  background-color: rgb(219, 97, 97);
}

.btn-agregar:active {
  background-color: rgb(26, 177, 177);
}

.btn-close {
  color: gray;
}

.btn-ag-modal {
  background-color: darkcyan;
}

.btn-edit-modal {
  background-color: rgb(69, 189, 236);
}

.btn-elim-modal {
  background-color: rgb(199, 29, 29);
}

.btn-close-modal {
  background-color: rgb(62, 62, 160);
}

.btn-ag-modal:hover {
  background-color: rgb(29, 165, 165);
}

.btn-edit-modal:hover {
  background-color: rgb(114, 193, 224);
}

.btn-elim-modal:hover {
  background-color: rgb(209, 70, 70);
}

.btn-close-modal:hover {
  background-color: rgb(109, 109, 192);
}

ul {
  list-style: none;
}
